#info-card:hover .content {
    max-height: 200px;
    transition: 0.5;
  }
  
  #info-card {
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
  }
  
  .content {
    max-height: 0px;
    overflow: hidden;
    transition: 0.5s;
    font-size: 0.9vw;
    margin-top: 5px;
    white-space: break-spaces;
  }
  