/* .Footer {
  a {
    text-decoration: none;
    color: #000;
    ::after {
      text-decoration: none;
      color: #000;
    }
  }
  margin-top: 52px;
  box-shadow: 0 2px 0 #f1f2f2 inset;
  .wrapper {
    display: flex;
    justify-content: space-evenly;

    .logo {
      height: 52px;
      margin-top: 20px;
      border-radius: 25px;
    }
    .social-icon {
      display: flex;
      gap: 20px;
      font-size: 40px;
      .facebook {
        color: #4267b2;
      }
      .twitter {
        color: #1da1f2;
      }
      .linkedin {
        color: #0077b5;
      }
    }
  }
  .copyright {
    text-align: center;
    box-shadow: 0 1px 0 #f1f2f2 inset;
    padding: 10px;
    p {
      margin: 0;
      font-size: 14px;
    }
  }
} */
.groupInfo {
  display: block;
}
h5 {
  max-width: 300px;
  word-wrap: break-word;
  font-weight: normal;
}
h2 {
  margin: 20px 0 !important;
  font-size: 20px;
  font-weight: bold;
}

#footer {
  background: #1c325a;
  color: white;
  margin-top: 10%;
 
}


#contact {
  margin-left: 10%;
}


.footer-place-category li {
  color: rgb(167, 167, 167);
  margin-top: 0.5vw;
}

.footer-place-category ul {
  padding-inline-start: 0px;
}

.footer-place-category li {
  width: fit-content;
}

.footer-place-category li:hover {
  color: white;
}

.footer-place-category li:hover .footer-line {
  transform-origin: left;
  transform: scaleX(1);
}

.footer-place-category .footer-line {
  width: 100%;
  height: 1px;
  background: white;
  transition: transform 0.5s;
  transform-origin: right;
  transform: scaleX(0);
}

#footer-place-2 {
  display: flex;
  border-top: #fdfbf4 1px solid;
  border-bottom: #fdfbf4 1px solid;
  padding-top: 3vw;
  padding-left: 18%;
  padding-bottom: 3vw;
}
#footer-place-2 img {
  width: 10vw;
  height: 5vw;
  filter: brightness(0) invert(1);
  -webkit-filter: brightness(0) invert(1);
  margin-left: 10%;
}

#footer-place-2 img:last-child {
  width: 5vw;
}

#footer-place-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 1.5vw;
  font-size: 1vw;
  padding-bottom: 1.5vw;
}

#footer-place-3 p:nth-child(2) {
  text-align: center;
}

#footer-place-3 p:nth-child(3) {
  text-align: right;
}
